<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}
    {{ 'output.css' | asset_url | stylesheet_tag }}
    {{ 'animi-btn.css' | asset_url | stylesheet_tag }}
    {{ 'swiper.css' | asset_url | stylesheet_tag }}
    {{ 'swiper.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    {{ 'aos.css' | asset_url | stylesheet_tag }}
    {{ 'aos.js' | asset_url | script_tag }}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        AOS.init({
          duration: 800,
          easing: 'ease-in-out',
          once: true,
          mirror: false,
        });
      });
    </script>
    {{ content_for_header }}
    <script src="https://t.contentsquare.net/uxa/170fb4229ac7f.js"></script>
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
